<div class="side-bar">
  <h2 class="filter-header" >Filters</h2>

  <ul>
    <li>
      <div class="ui divider"></div>
      <h3 class="filter-title">Type</h3>
      <form action="">
        <label><input class="filter-param" type="checkbox" name="type1" value="white">White</label><br>
        <label><input class="filter-param" type="checkbox" name="type2" value="rose">Rose</label><br>
        <label><input class="filter-param" type="checkbox" name="type3" value="red">Red</label><br>
        <label><input class="filter-param" type="checkbox" name="type4" value="dessert">Dessert</label><br>
        <label><input class="filter-param" type="checkbox" name="type5" value="spirit">Spirit</label>
      </form>
    </li>

    <li>
      <div class="ui divider"></div>
      <h3 class="filter-title">Vintage</h3>
      <form action="">
        <label><input class="filter-param" type="checkbox" name="type1" value="2017">2017</label><br>
        <label><input class="filter-param" type="checkbox" name="type2" value="2016">2016</label><br>
        <label><input class="filter-param" type="checkbox" name="type3" value="20NV">Non-Vintage</label>
      </form>
    </li>

    <li>
      <div class="ui divider"></div>
      <h3 class="filter-title">Varietal</h3>
      <form action="">
        <label><input class="filter-param" type="checkbox" name="type1" value="bao">Barbera Rose</label><br>
        <label><input class="filter-param" type="checkbox" name="type2" value="cas">Cabernet Sauvignon</label><br>
        <label><input class="filter-param" type="checkbox" name="type3" value="cha">Chardonnay</label><br>
        <label><input class="filter-param" type="checkbox" name="type3" value="chb">Chenin Blanc</label>
      </form>
    </li>

  </ul>

</div> 