<div class="deck-container">
 
  <div *ngFor="let num of repeat" class="card">
    <h2 class="blend">17CHACA</h2>
    <p class="description">2017 California Chardonnay</p>

    <div class="details left-details">
      <h4>$/ton: 450</h4>
      <h4>Yield: 178</h4>
      <h4>$/gal: 3.93</h4>
    </div>
    <div class="details right-details">
      <h4>Req. Gal: 50,000</h4>
      <h4>Sold Gal: 38,400</h4>
      <h4>Avg Margin: 32%</h4>
    </div>

    <div class="lifebar-container">
      <div class="lifebar"></div>
    </div>

  </div>

</div>