@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500');


body {
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
    /* z-index: -10; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: grey;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: grey;
}