.content-bed {
    height: 200px;
    width: 100%;
    background-color: #fff;
    margin-left: 300px;
    padding-top: 100px;
}

.view {
    width: 100px;
    margin-top: 40px;
    margin-left: 40px;
}

.view>h3 {
    width: 50%;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #CFCFCF;
}

.view>.list {
    float: left;
    border-right: 1px #CFCFCF solid;
}

.view>.grid {
    float: right;
    color: #4DCC93;
}